
/*
div[class^="col-"] {
  background: #feca57;
  height: 100px;
  border: 1px solid white;
} */


body{
  font-family: Didot;
  background-color:white;
}

nav .container-fluid .navbar-brand strong{
  font-size: 35px;
}
nav .container-fluid .navbar-brand img{
  width: 70px;
  height: 70px;
}

section .container-fluid h1{
  color: white;
}

section .container-fluid .row .col-12 h5 strong{
  color: black;
}
section .container-fluid .row .col-12 h5{
  color: #B0B0AD;
}
section .container-fluid .row .col-12 h5 a{
  color: #B0B0AD;
}

#main .carousel-item img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(10%);
  }
  
  #carousel {
    position: relative;
  }
  
  #carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
  }
  
  #carousel .overlay .container,
  #carousel .overlay .row {
    height: 100%;
  }
  
.text-platzi{
    color:#97c93e !important;
}

#footer{
  background:linear-gradient(90deg, #1c3643, #273b47 25%,#1e5372);
  color:white;
}

#footer a{
  color:white;
  font-size:10px;
}


/*proyectos*/

#main .carousel .carousel-item img {
  height: 70vh;
  object-fit: cover;
  filter: grayscale(10%);
}

#contenido .container-fluid h3 {  
  border-bottom: 1px solid #1e5372;
  border-top: 3vh solid #fff;
  font-size: 40px;
  font-weight: bold;
}

#contenido .container-fluid .badge{  
  font-size: 25px;
  border: 1vh solid white;
}

#contenido .container-fluid p{  
  font-size: 25px;
}

#contenido .container-fluid button{  
  font-size: 25px;
}